<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - Bus 31/32</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <style>
                .header {
                    background: no-repeat url('http://projet/Bus3132/img/analyse2.jpg') , url('http://projet/Bus3132/img/analyse.jpg') no-repeat;
                    border-bottom: 1px solid #A6A8A9;
                }
                form {
                    border: 1px solid #A6A8A9;
                    border-radius: 5px;
                    padding: 1%;
                }
                .row {
                    padding: 5% 0;
                }
                .dropdown-toggle {
                    background-color: #164895;
                    color: white;
                }
                .dropdown-toggle:hover {
                    background-color: #F49E07;
                }
                
                .dropdown-menu a:hover {
                    background-color: #F49E07;
                }
                .submit{
                    background-color: #164895;
                }
                .submit:hover{
                    background-color: #F49E07;
                }

                
            </style>
            
        {% endblock %}
        
    </head>
    <body>
        <div class="container">
            {% block header %}
            <div class="row d-flex justify-content-end header">
                <form class="col-sm-3">
                    <div class="form-group">
                        <label for="echantillon">ID n°échantillon</label>
                        <input type="text" class="form-control" id="echantillon">
                    </div>  
                    <button type="submit" class="btn btn-primary submit">Envoyer</button>
                </form>
            </div>
            {% endblock %}
            
            <div class="row">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}
                <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
